:root {
    --main-title-color: #212121;
    --main-text-color: #757575;
    --header-text-color: #212121;
    --second-header-color: #757575;
    --first-button-color: #ffffff;
    --accent-color: #2196f3;
  }